.clothes__section-title {
  display: contents;
}

.clothes__section-button {
  cursor: pointer;
  margin-left: 20px;
  border: none;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  margin-top: 16px;
}
